 body {
 background-color: black;
 font-size: 15px;  
 color: white;
 }


 .container {
    box-sizing: border-box;
    background-color: brown;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
 }
 
 .nav {
    font-size: 14px;
    text-transform:uppercase;
 }
    

 .nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: white;
    text-decoration: none;
 }